{% extends 'base.html.twig' %}
{% block title %}Dashboard | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        <menu>
            <nav>
                <ul>
                    <li>Login</li>
                    <li>Logout</li>
                    <li>Register</li>
                    <li>Guestbook</li>
                </ul>
            </nav>
        </menu>
    </header>
{% endblock %}
